root-anchors.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TrustAnchor">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Zone"/>
        <xs:element name="KeyDigest" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="KeyTag"/>
              <xs:element type="xs:byte" name="Algorithm"/>
              <xs:element type="xs:byte" name="DigestType"/>
              <xs:element type="xs:string" name="Digest"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:dateTime" name="validFrom" use="optional"/>
            <xs:attribute type="xs:dateTime" name="validUntil" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:anyURI" name="source"/>
    </xs:complexType>
  </xs:element>
</xs:schema>